//white
$white: #ffffff;
$white2: #fff;


//black
$black: #000000;
$black2:#222;
$black3:rgba(0,0,0,0.9);
$black4:rgba(77, 75, 75, 0.9);


//grey
$grey3:#777;
$grey4: rgba(255,255,255,0.2);
$grey5:#eeeeee;


//red
$red:red;
$red2:#f42f2c;


//blue
$blue2:#4691f6;
$blue5:#f9f9ff;

//green

//gold
$gold2: rgba(230, 216, 123, 0.6);

//orange
$orange:orange